# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [2]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [3]:
#  1. Get the total rides for each city type
# Get the sum of the rides for each city type.
sum_rides_by_type = pyber_data_df.groupby(["type"]).count()["ride_id"]
sum_rides_by_type

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [4]:
# Create the Urban city DataFrame.
urban_cities_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
#Number of rides for Urban city rides 
urban_ride_count = urban_cities_df.groupby(["city"]).count()["ride_id"]
urban_ride_total = sum(urban_cities_df.groupby(["city"]).count()["ride_id"])
urban_ride_total

1625

In [5]:
#Create the Suburban city DataFrame
suburban_cities_df = pyber_data_df[pyber_data_df["type"] == "Suburban"]
#Number of rides for Suburban city rides 
suburban_ride_count = suburban_cities_df.groupby(["city"]).count()["ride_id"]
suburban_ride_total = sum(suburban_cities_df.groupby(["city"]).count()["ride_id"])
suburban_ride_total

625

In [6]:
# Create Rural city DataFrames.
rural_cities_df = pyber_data_df[pyber_data_df["type"] == "Rural"]
rural_cities_df.head()
#Number of rides for rural city rides 
rural_ride_count = rural_cities_df.groupby(["city"]).count()["ride_id"]
rural_ride_total = sum(rural_cities_df.groupby(["city"]).count()["ride_id"])
rural_ride_total

125

In [7]:
# 2. Get the total driver for each city type
# Get the sum of the Drivers for each city type.
sum_driver_by_type = city_data_df.groupby(["type"]).sum()["driver_count"]
sum_driver_by_type

type
Rural         78
Suburban     490
Urban       2405
Name: driver_count, dtype: int64

In [8]:
#  3. Get the total amount of fares for each city type
# Get the sum of the fares for each city type.
sum_fares_by_type = pyber_data_df.groupby(["type"]).sum()["fare"]
sum_fares_by_type

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [9]:
#Number of fares for Urban city rides 
urban_fare_total = urban_cities_df.groupby(["type"])[["fare"]].agg("sum")

urban_fare_total

           fare
type
Urban  39854.38

In [10]:
#Number of fares for Suburban city rides 
suburban_fare_total = suburban_cities_df.groupby(["type"])[["fare"]].agg("sum")

suburban_fare_total

              fare
type
Suburban  19356.33

In [11]:
#Number of fares for Rural city rides 
rural_fare_total = rural_cities_df.groupby(["type"])[["fare"]].agg("sum")

rural_fare_total

          fare
type
Rural  4327.93

In [12]:
#  4. Get the average fare per ride for each city type. 
# Get the average of the fares per ride for each city type.
#total_all_rides = pyber_data_df.groupby(["type"]).count()["ride_id"].agg("sum")
#total_all_fares = pyber_data_df.groupby(["type"]).sum()["fare"].agg("sum")

# total_all_fares = sum_fares_by_type.agg("sum")
# total_all_fares
# total_all_rides = sum_rides_by_type.agg("sum")
# total_all_rides
# avg_fare_per_ride_by_ctype = total_all_fares/total_all_rides
# avg_fare_per_ride_by_ctype

avg_fare_per_ride_by_ctype = sum_fares_by_type/sum_rides_by_type
avg_fare_per_ride_by_ctype

type
Rural       34.623440
Suburban    30.970128
Urban       24.525772
dtype: float64

In [13]:
# 5. Get the average fare per driver for each city type. 
# Get the sum of the fares per driver for each city type.
# total_all_drivers = sum_driver_by_type.agg("sum")
# total_all_drivers
# avg_fare_per_driver_by_ctype = total_all_fares/total_all_drivers
avg_fare_per_driver_by_ctype =  sum_fares_by_type/sum_driver_by_type
avg_fare_per_driver_by_ctype

type
Rural       55.486282
Suburban    39.502714
Urban       16.571468
dtype: float64

In [14]:
#  6. Create a PyBer summary DataFrame. 
pyber_summary_df = pd.DataFrame()

pyber_summary_df["Total Rides"] = sum_rides_by_type

pyber_summary_df["Total Drivers"] = sum_driver_by_type

pyber_summary_df["Total Fares"] = sum_fares_by_type

pyber_summary_df["Average Fare per Ride"] = avg_fare_per_ride_by_ctype 

pyber_summary_df["Average Fare per Driver"] = avg_fare_per_driver_by_ctype

pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
type,,,,,
Rural,125,78,4327.93,34.623440,55.486282
Suburban,625,490,19356.33,30.970128,39.502714
Urban,1625,2405,39854.38,24.525772,16.571468

In [15]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None
pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
Rural,125,78,4327.93,34.623440,55.486282
Suburban,625,490,19356.33,30.970128,39.502714
Urban,1625,2405,39854.38,24.525772,16.571468

In [17]:
#  8. Format the columns.
pyber_summary_df["Total Rides"] = pyber_summary_df["Total Rides"].map("{:,}".format)
pyber_summary_df["Total Drivers"] = pyber_summary_df["Total Drivers"].map("{:,}".format)
pyber_summary_df["Total Fares"] = pyber_summary_df["Total Fares"].map("${:,.2f}".format)
pyber_summary_df["Average Fare per Ride"] = pyber_summary_df["Average Fare per Ride"].map("${:.2f}".format)
pyber_summary_df["Average Fare per Driver"] = pyber_summary_df["Average Fare per Driver"].map("${:.2f}".format)

pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
Rural,125,78,"$4,327.93",$34.62,$55.49
Suburban,625,490,"$19,356.33",$30.97,$39.50
Urban,"1,625","2,405","$39,854.38",$24.53,$16.57

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [18]:
# Step 9
#1. Read the merged DataFrame
# Combine the data into multiple indices 
#create a new DataFrame with multiple indices using the groupby() function on the 
#"type" and "date" columns of the pyber_data_df DataFrame, then apply the 
#sum() method on the "fare" column to show the total fare amount for each date.

pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

In [25]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.
pyber_data2_df = pyber_data_df.set_index(["type","date"])
sum_fares_by_date = pyber_data2_df.groupby(["date"]).agg("sum")["fare"]
sum_fares_by_date.head()

date
2019-01-01 00:08:16    37.91
2019-01-01 00:46:46    47.74
2019-01-01 02:07:24    24.07
2019-01-01 03:46:50     7.57
2019-01-01 05:23:21    10.75
Name: fare, dtype: float64

In [ ]:
# Step 10
#3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [ ]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [ ]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [ ]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [ ]:
# 7. Check that the datatype for the index is datetime using df.info()

In [ ]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [ ]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')